#alert-dialog-title {
  margin-bottom: 0px;
}
#alert-dialog-description {
  margin-bottom: 30px;
}

button.MuiButton-text {
  padding: 8px 20px;
}
button.MuiButton-root.primary {
  background-color: #f3f3f3;
  color: #036686;
  font-weight: 600;
}
button.MuiButton-root.primary:hover {
  background-color: #dbdbdb;
}
button.MuiButton-root.secondary {
  background-color: #f3f3f3;
}
button.MuiButton-root.secondary:hover {
  background-color: #dbdbdb;
}
